@page "/admin/company/{CompanyId}"
@using MagFlow.Shared.Models.Enumerators
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = $"{nameof(AppRole.SysAdmin)},{nameof(AppRole.SuperAdmin)}")]

<h3>Company</h3>

@code {
    [Parameter]
    public string CompanyId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            if(string.IsNullOrEmpty(CompanyId))
            {
                NavigationManager.NavigateTo("/admin");
            }
        }
    }
}
