@page "/Auth/Login"
@layout LPLayout

@using System.ComponentModel.DataAnnotations
@using MagFlow.BLL.Services.Interfaces
@using MagFlow.Domain.Core
@using MagFlow.Shared.Models.Auth
@using MagFlow.Web.Auth
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IAuthorizationService AuthorizationService
@inject IAuthService AuthService

<PageTitle>Logowanie</PageTitle>

<AuthorizeView>
    <NotAuthorized Context="notAuthorizedContext">
        <div class="row">
            <div class="col-lg-6">
                <section>
                    <EditForm EditContext="editContext" method="post" OnValidSubmit="LoginUser" FormName="login">
                        <DataAnnotationsValidator />
                        <h2>Use a local account to log in.</h2>
                        <hr />
                        <ValidationSummary class="text-danger" role="alert" />
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="name@example.com" />
                            <label for="Input.Email" class="form-label">Email</label>
                            <ValidationMessage For="() => Input.Email" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3">
                            <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label for="Input.Password" class="form-label">Password</label>
                            <ValidationMessage For="() => Input.Password" class="text-danger" />
                        </div>
                        <div class="checkbox mb-3">
                            <label class="form-label">
                                <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                                Remember me
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <hr />
                        <hr />
                        <div>
                            <p>
                                <a href="Account/ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </EditForm>
                </section>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private SignInModel Input { get; set; } = default!;

    private EditContext editContext = default!;



    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateTask;

        if (authenticationState?.User?.Identity is not null && authenticationState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/", replace: true);
        }

        Input ??= new();
        editContext = new EditContext(Input);

        if (HttpContext != null && HttpMethods.IsGet(HttpContext.Request.Method))
        {

        }
    }

    public async Task LoginUser()
    {
        if (!editContext.Validate())
        {
            return;
        }
        var result = await AuthService.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe);

        if (result.Succeeded)
        {
            Logger.LogInformation($"User {Input.Email} logged in via IPv4 address: {HttpContext?.Connection?.RemoteIpAddress?.ToString()}");
        }
        else
        {
            Logger.LogWarning($"Invalid login attempt from IPv4 address: {HttpContext?.Connection?.RemoteIpAddress?.ToString()}");
        }
    }
}
