@page "/Home"
@layout LPLayout

<PageTitle>MagFlow</PageTitle>

<section id="start">
    <Start/>
</section>


<section id="modules">
    <Modules/>
</section>


<section id="pricing">
   <Pricing/>
</section>


<section id="contact">
    <Contact/>
</section>


<section id="faq">
    <Questions/>
</section>


@code {

}
