@page "/Home"

@layout LPLayout

<section id="start">
    <Start/>
</section>


<section id="modules">
    <Modules/>
</section>


<section id="pricing">
   <Pricing/>
</section>


<section id="contact">
    <Contact/>
</section>


<section id="faq">
    <div style="padding: 100px 82px;">
        Got questions? <br/><br/>

        Proin maximus egestas ipsum, at tincidunt ligula tempor quis. Nunc eget porttitor est. Fusce nibh massa, sodales in justo vitae, congue ullamcorper urna. Morbi sit amet tortor id ex sodales feugiat. Praesent euismod felis in finibus ornare. Morbi placerat vestibulum eros, at tempor dui semper sed. Nulla lacus neque, venenatis ut ligula at, egestas sodales tortor. Fusce urna libero, feugiat eget ultrices venenatis, lobortis sed tortor. Nam erat ligula, bibendum et pretium non, viverra ut tellus. Proin id nulla volutpat purus dignissim faucibus eget nec mi. Cras bibendum, eros sed laoreet luctus, nulla ex porta purus, a volutpat libero purus nec arcu. Suspendisse ultrices, nunc at laoreet consequat, nibh elit porttitor ipsum, posuere rutrum erat ex et enim. Sed euismod ullamcorper risus ut gravida.

        Proin orci libero, dictum sit amet risus vel, tristique tincidunt leo. Etiam fermentum nec purus vitae dignissim. Nullam quis enim nulla. Integer non egestas libero, a euismod felis. Suspendisse quis vehicula nisi. Donec turpis lorem, sollicitudin feugiat diam quis, pulvinar condimentum felis. Donec quis metus ut purus vulputate egestas sed eu quam. Nullam in convallis purus. Nullam dui turpis, lacinia quis augue eget, hendrerit egestas nibh. Duis eget luctus felis. Curabitur vitae malesuada massa, a semper quam. Aenean sit amet orci vitae justo vulputate dictum tincidunt et est. Aliquam tincidunt nunc vel lacus semper, mollis mollis orci dignissim.
    </div>
</section>


@code {

}
