/* --- HERO LAYOUT --- */
.hero-container {
    gap: 22px;
    padding: 100px 70px;
    background-color: #F8F9FA;
}

@media (max-width: 576px) {
    .hero-container {
        padding: 80px 20px;
    }
}

