/* --- HERO LAYOUT --- */
.hero-container {
    padding: 120px 70px 150px 70px;
}

@media (max-width: 576px) {
    .hero-container {
        padding: 80px 20px;
    }
}

.hero-content {
    gap: 48px;
}

.hero-text {
    max-width: 576px;
    gap: 32px;
}

.hero-headline {
    gap: 24px;
}

.hero-title {
    color: #212529;
    font-size: 64px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0.219px;
}

.hero-title-highlight {
    color: #0D6EFD;
    text-decoration: none;
}

.hero-description {
    font-size: 16px;
    color: #495057;
    line-height: 27px;
}

::deep .e-btn.btn-dark-base {
    background-color: #272C34 !important;
    border-color: #272C34 !important;
    color: #fff !important;
    height: 44px;
    padding: 0 12px;
    border-radius: 6px;
}

::deep .e-btn.btn-outline-base {
    background-color: transparent !important;
    border-color: #6C757D !important;
    color: #6C757D !important;
    height: 44px;
    padding: 0 12px;
    border-radius: 6px;
}
