@using MudBlazor

<div class="hero-container d-md-flex flex-column align-items-center align-self-stretch">
    <div class="d-md-flex flex-column justify-content-center align-self-center" style="padding: 4px 0 1.602px 0; gap: 16px;">
        <div class="d-flex align-items-center justify-content-center">
            <h2 class="d-flex align-items-start text-center" style="font-size: 32px; font-weight: 700; line-height: 38px; letter-spacing: 0.4px; color: #212529">@Localizer[Langs.FAQ]</h2>
        </div>
    </div>
    <div class="d-md-flex flex-column justify-content-center align-self-center align-items-start mt-3 w-100" style="max-width: 668px">
        <MudExpansionPanels MultiExpansion="true" Class="w-100">
            <MudExpansionPanel Text="Czym jest MagFlow?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo augue, dignissim vitae blandit a, vestibulum at nulla. Donec id gravida felis, at scelerisque dolor. Suspendisse vel tincidunt odio. Vivamus ornare massa nisi. Integer consequat pellentesque sapien, vitae laoreet ex accumsan sed. Cras consequat lacinia nisi, posuere consequat urna dapibus at. Aliquam tincidunt id ligula sed venenatis. Praesent quam quam, ullamcorper dapibus nulla et, lobortis consequat metus. Duis maximus, ante et semper fermentum, eros dolor pretium sapien, sit amet auctor urna est in felis. Quisque sagittis vulputate metus, eget dignissim lacus molestie a. Maecenas varius sem sit amet est hendrerit posuere. Vestibulum eu neque mattis, laoreet odio ut, blandit libero. Nam et turpis laoreet, posuere purus et, venenatis neque.
            </MudExpansionPanel>
            <MudExpansionPanel Text="Jak wygląda model płatnosci/subksrypcji?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Nulla semper mauris in porta bibendum. Cras volutpat justo nisi, in blandit est sagittis at. Mauris eget placerat lacus, quis semper massa. Aenean sagittis est enim, eget pharetra lectus sodales id. Mauris eu metus condimentum, fermentum leo sed, dignissim risus. Nullam dignissim ex nec ullamcorper consequat. Aenean imperdiet ultrices eros at tristique. Nunc sed nibh sed elit accumsan porta vitae vitae quam. Cras venenatis eget odio ut mattis. Fusce et dignissim arcu, non rutrum massa. Maecenas nec elit ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel eleifend tortor, et faucibus erat. Aliquam et ligula a mi posuere fermentum vel a sem. Sed eu varius nisi.
            </MudExpansionPanel>
            <MudExpansionPanel Text="Jak wygląda wdrożenie?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Aliquam suscipit consequat dolor, sed maximus lorem convallis vel. Curabitur a feugiat diam. Vestibulum id ultricies erat, mattis placerat quam. Morbi eu erat id metus dapibus congue at non erat. Quisque eu felis a nunc ornare cursus. Duis auctor ex a ligula pellentesque, ac ornare mauris consectetur. Suspendisse a lorem finibus, venenatis sem sit amet, dignissim ante. Duis vestibulum sem dui, sit amet placerat enim rutrum vitae. Ut eu lacus diam. Nam vitae mattis mauris. Etiam at velit blandit tortor egestas varius. Morbi eleifend maximus massa, cursus ullamcorper nisl. Morbi vulputate ligula non ipsum venenatis, vitae lacinia massa molestie. Nam et dui in tortor ornare finibus.
            </MudExpansionPanel>
            <MudExpansionPanel Text="Czy system pozwala zarządzać uprawnieniami użytkowników?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Aliquam vitae semper eros, sed scelerisque enim. Donec id sapien at eros sagittis placerat sit amet vel orci. Nunc id tellus ex. Morbi ut metus tempor, tempus orci quis, aliquam lectus. Sed nulla felis, vehicula feugiat erat quis, tincidunt rutrum risus. Mauris hendrerit libero dolor, rhoncus placerat justo tincidunt et. Mauris a tortor rhoncus, luctus leo vel, fringilla odio. Pellentesque bibendum, augue eget ornare cursus, dui ex maximus quam, eu interdum metus magna vitae lectus. Curabitur accumsan pretium eros sit amet accumsan. Nam condimentum auctor lacus ac cursus. Curabitur auctor mauris vitae lorem porttitor iaculis. Quisque efficitur lorem eu fermentum convallis. Vestibulum fermentum sit amet massa a pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas pretium magna eget feugiat placerat.
            </MudExpansionPanel>
            <MudExpansionPanel Text="Czy system będzie przechodzić regularne aktualizacje?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Nullam at mi rhoncus enim viverra hendrerit eget eget lectus. Donec a mollis metus. Donec laoreet lacus non sollicitudin posuere. Maecenas nunc lacus, sodales vel tortor vitae, congue semper libero. Nam mollis neque at est eleifend, id aliquam nulla eleifend. Cras iaculis aliquet justo, sed consectetur purus vestibulum et. Vestibulum aliquet, justo et congue rutrum, felis nunc feugiat augue, id pulvinar ipsum ante sed tellus. Praesent auctor leo non pellentesque dignissim. Nullam tristique tempus interdum. Phasellus maximus odio ac tortor fringilla tincidunt.
            </MudExpansionPanel>
            <MudExpansionPanel Text="Jakimi kanałami mozna uzyskać wsparcie techniczne lub kontakt?" Class="faq-expansion-panel" HeaderClass="faq-expansion-panel-header">
                Suspendisse quis ornare ipsum. Donec hendrerit feugiat gravida. Suspendisse potenti. Proin ornare feugiat ligula, sodales malesuada mauris molestie sed. Aliquam tellus arcu, interdum id massa quis, varius suscipit massa. Aenean leo urna, sodales luctus pharetra ut, ultrices vitae sem. In nisl velit, bibendum non commodo id, condimentum sed purus. Donec sed aliquam eros, ac posuere justo. Ut quis odio efficitur, hendrerit leo sed, tempor felis. Vestibulum eleifend lacus at gravida blandit. Proin porttitor vestibulum ornare. Nullam vitae magna lacus. Cras semper ultrices augue sit amet luctus. Aenean in suscipit neque, eu volutpat ipsum. Vestibulum pellentesque dui ac turpis mollis fermentum.
            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</div>

@code {

}
