@using System.Diagnostics
@using MagFlow.Web.Components.Status
@inject ILogger<LPErrorPage> Logger

<PageTitle>Error</PageTitle>

<div class="flex-grow-1 d-md-flex flex-column align-items-center justify-content-center w-100 h-100">
    <Error ErrorId="ErrorId"/>
</div>

@code {
    [Parameter]
    public Exception? Exception { get; set; }

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    string ErrorMessage = string.Empty;

    private Guid? ErrorId { get; set; }
    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override async Task OnInitializedAsync()
    { 
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        if (Exception == null)
        {
            ErrorId = Guid.NewGuid();
            Logger.LogError($"Unknown error (ErrorId|RequestId: {ErrorId} {RequestId})");
            ErrorMessage = $"Unknown error (ErrorId|RequestId: {ErrorId} {RequestId})";
        }
        else
        {
            ErrorId = Guid.NewGuid();
            Logger.LogError(Exception, $"Error message (ErrorId|RequestId: {ErrorId} {RequestId}): {Exception.Message}");
            ErrorMessage = $"An error occurred. Please contact with system administrator - serwis@magflow.pl - and provide error id: {ErrorId}\n";
        }
    }
}