@page "/Error"
@using System.Diagnostics
@using MagFlow.Web.Components.Status
@inject ILogger<LPErrorPage> Logger

<PageTitle>@Localizer[Langs.Error]</PageTitle>

<div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center w-100 h-100">
    <Error ErrorId="ErrorId"/>
</div>

@code {
    [Parameter]
    public Exception? Exception { get; set; }

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private Guid? ErrorId { get; set; }
    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override async Task OnInitializedAsync()
    { 
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        if (Exception == null)
        {
            ErrorId = Guid.NewGuid();
            Logger.LogError($"Unknown error (ErrorId: {ErrorId})");
        }
        else
        {
            ErrorId = Guid.NewGuid();
            Logger.LogError(Exception, $"Error message (ErrorId: {ErrorId}): {Exception.Message}");
        }
    }
}