@page "/error"
@using System.Diagnostics
@inject ILogger<ErrorPage> Logger

<PageTitle>Error</PageTitle>

<p>@ErrorMessage</p>
<p>Click the button below to refresh website</p>
<input type="button" />

@code {
    [Parameter]
    public Exception? Exception { get; set; }

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    string ErrorMessage = string.Empty;

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override async Task OnInitializedAsync()
    { 
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
        if (Exception == null)
        {
            var errorId = Guid.NewGuid();
            Logger.LogError($"Unknown error (ErrorId|RequestId: {errorId} {RequestId})");
            ErrorMessage = $"Unknown error (ErrorId|RequestId: {errorId} {RequestId})";
        }
        else
        {
            var errorId = Guid.NewGuid();
            Logger.LogError(Exception, $"Error message (ErrorId|RequestId: {errorId} {RequestId}): {Exception.Message}");
            ErrorMessage = $"An error occurred. Please contact with system administrator - serwis@magflow.pl - and provide error id: {errorId}\n";
        }
    }
}
