@using System.Security.Claims
@using MagFlow.BLL.Services.Notifications
@using MagFlow.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject ClientNotificationService ClientNotificationService
@inject AuthenticationStateProvider AuthStateProvider
@implements IAsyncDisposable

@if (_last != null)
{
    <div class="w-100 flex-grow-1 align-items-center justify-content-center d-flex flex-column notification-bar @GetCssClass(_last)">
        @if (!string.IsNullOrEmpty(_last.Title))
        {
            <strong>@_last.Title</strong>
    
            <br />
        }
        @_last.Message
    </div>
}

@code {
    private NotificationMessage? _last = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity?.IsAuthenticated == true)
            {
                var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

                if (!string.IsNullOrEmpty(userId))
                {
                    await ClientNotificationService.StartAsync(userId);
                    ClientNotificationService.OnNotificationReceived += OnNotification;
                }
            }
        }
    }

    private void OnNotification(NotificationMessage message)
    {
        _last = message;
        InvokeAsync(StateHasChanged);
    }

    private string GetCssClass(NotificationMessage n)
        => n.Type switch
        {
            Enums.NotificationType.System => "notification-system",
            _ => "notification-info"
        };

    public async ValueTask DisposeAsync()
    {
        ClientNotificationService.OnNotificationReceived -= OnNotification;
        await ClientNotificationService.StopAsync();
    }
}