@using MagFlow.BLL.Services.Notifications
@using MagFlow.Shared.Models
@inject ClientNotificationService ClientNotificationService
@implements IAsyncDisposable

@if (_last != null)
{
    <div class="w-100 flex-grow-1 notification-bar @GetCssClass(_last)">
        @if (!string.IsNullOrEmpty(_last.Title))
        {
            <strong>@_last.Title</strong>
    
            <br />
        }
        @_last.Message
    </div>
}

@code {
    private NotificationMessage? _last = new NotificationMessage("Title", "Message", DateTime.UtcNow, Enums.NotificationType.System, null);

    protected override async Task OnInitializedAsync()
    {
        ClientNotificationService.OnNotificationReceived += OnNotification;
        await ClientNotificationService.StartAsync();
    }

    private void OnNotification(NotificationMessage message)
    {
        _last = message;
        InvokeAsync(StateHasChanged);
    }

    private string GetCssClass(NotificationMessage n)
        => n.Type switch
        {
            Enums.NotificationType.System => "notification-system",
            _ => "notification-info"
        };

    public async ValueTask DisposeAsync()
    {
        ClientNotificationService.OnNotificationReceived -= OnNotification;
        await ClientNotificationService.StopAsync();
    }
}