@page "/ResolutionWarning"
@using MagFlow.Web.Components.Status

<PageTitle>@Localizer[Langs.ResolutionNotSupported]</PageTitle>

<div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center w-100 h-100">
    <ResolutionWarning />
</div>

@code {

}