.lp-appbar {
    overflow: visible !important;
    background-color: white !important;
    min-height: 64px;
}

.tabs-wrapper {
    position: relative;
    overflow: visible;
}

.tabs-wrapper .mud-tabs-toolbar {
    overflow: visible;
    min-height: 48px;
}

.tabs-wrapper .mud-tabs-slider {
    height: 2px;
    background-color: #0d6efd;
    opacity: 1;
    display: block;
}

.tabs-wrapper .mud-tab {
    min-height: 48px;
    font-size: 16px;
}

.tabs-wrapper .mud-tab-text {
    font-weight: 500;
}

.tabs-wrapper .mud-tab.mud-tab-active .mud-tab-text {
    color: #0d6efd;
}

.desktop-tabs .mud-tab {
    min-width: unset !important;
    padding: 0 16px;
}

.desktop-tabs .mud-tabs-toolbar {
    justify-content: flex-start !important;
}
