@using MagFlow.Shared.Models.Interfaces
@implements IModule

<h3>Reports</h3>

@code {
    public string TabTitle => "Reports";
    public string Icon => "bi bi-bar-chart-line";

    public void Dispose()
    {

    }
}
