@using MagFlow.Shared.Models.Interfaces
@implements IModule

<h3>Wares</h3>

@code {
    public string TabTitle => "Wares";
    public string Icon => "bi bi-box-seam";

    public void Dispose()
    {

    }
}
