@page "/user/{UserId}"

@using MagFlow.Web.Components.Buttons
@using Microsoft.AspNetCore.Authorization
@using MudBlazor

@layout TabsLayout
@inherits AuthComponentBase
@attribute [Authorize(Policy = MagFlow.Shared.Constants.Policies.Claims.USERS_EDIT)]

<div class="d-flex flex-column w-100 flex-grow-1 overflow-visible" style="min-height: 0;" >
    <div class="d-flex align-items-center align-self-stretch justify-content-between w-100 overflow-visible" style="padding: 0; margin-bottom: 8px; position: relative;">
        <ReturnFab/>
        @* Header *@
        <div class="d-flex align-self-stretch mud-height-full w-100" style="min-height: 64px; height: 64px; border-radius: 4px; background: var(--mud-palette-primary-text); ">

        </div>
    </div>
    <div class="d-flex w-100" style="flex: 1 1 0; min-height: 0">
        <MudPaper Height="100%" Style="overflow:hidden; position:relative; background-color: transparent" Class="w-100" Elevation="0">
            <MudDrawerContainer Class="mud-height-full">
                <MudDrawer @bind-Open="@_isMenuOpened" Fixed="true" Elevation="0" Variant="@DrawerVariant.Mini" Breakpoint="Breakpoint.None">
                    <MudNavMenu>
                        <MudNavLink Icon="@(_isMenuOpened ? Icons.Material.Outlined.ChevronLeft : Icons.Material.Outlined.ChevronRight)" OnClick="@(() => { _isMenuOpened = !_isMenuOpened; })" Ripple="false" />
                    </MudNavMenu>
                </MudDrawer>
                <div class="d-flex justify-center align-center mud-height-full" style="padding-left: 8px; min-height: 0">
                  
                </div>
            </MudDrawerContainer>
        </MudPaper>
    </div>
</div>

@code {
    [Parameter]
    public string UserId { get; set; }
}
