@page "/user/{UserId}"

@using Microsoft.AspNetCore.Authorization

@inherits AuthComponentBase
@attribute [Authorize(Policy = MagFlow.Shared.Constants.Policies.Claims.USER_EDIT)]

<h3>User</h3>

@code {
    [Parameter]
    public string UserId { get; set; }
}
