@using MagFlow.Shared.Models.Interfaces
@implements IModule

<h3>ProductionPlan</h3>

@code {
    public string TabTitle => "ProductionPlan";
    public string Icon => "bi bi-calendar-week";

    public void Dispose()
    {

    }
}
