@using MagFlow.Web.Pages.Shared
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="Themes.MAIN"/>
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<div class="page d-flex flex-column">
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="exception">
            <ErrorPage Exception="exception" />
        </ErrorContent>
    </ErrorBoundary>
</div>
<footer>
    <Footer />
</footer>
