@using MagFlow.Web.Pages.Layouts.Partial
@using MagFlow.Web.Pages.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <ErrorBoundary>
                <ChildContent>
                    <div class="sidebar">
                        <NavMenu />
                    </div>

                    <main class="content">
                        <article class="content">
                            @Body
                        </article>
                    </main>
                </ChildContent>
                <ErrorContent Context="exception">
                    <ErrorPage Exception="exception" />
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLP/>
    </NotAuthorized>
</AuthorizeView>