@using MagFlow.Web.Pages.Layouts.Partial
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IDisposable

<div class="page">
    <ErrorBoundary>
        <ChildContent>
            <div class="main">
                <nav class="control-container sticky-nav">
                    <div style="width: 100%; height: 100%; padding-left: 12px; padding-right: 12px; justify-content: space-between; align-items: center; display: inline-flex">
                        <SfAppBar ColorMode="AppBarColor.Inherit" CssClass="justify-content-start align-items-center d-md-flex border-0">
                            <a href="/" style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex" class="desktop-logo">
                                <div style="width: 40px; height: 40px; padding-right: 0.01px; background: #0D6EFD; border-radius: 6px; justify-content: center; align-items: center; display: flex">
                                    <div style="width: 17.48px; height: 30px; position: relative">
                                        <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 30px; word-wrap: break-word">M</div>
                                    </div>
                                </div>
                                <div style="width: 134px; height: 42px; position: relative">
                                    <div style="width: 136px; left: 0px; top: 0.50px; position: absolute; color: #212529; font-size: 28px; font-family: Inter; font-weight: 700; line-height: 42px; letter-spacing: 0.38px; word-wrap: break-word">MagFlow</div>
                                </div>
                            </a>
                            <div class="d-md-flex justify-content-between align-items-center w-100">
                                <div></div>
                                <div class="desktop-tabs">
                                    <SfTab CssClass="underline-tabs" 
                                           SelectedItem="ActiveTab"
                                           SelectedItemChanged="OnTabChanged">
                                        <TabItems>
                                            <TabItem>
                                                <ChildContent>
                                                    <TabHeader Text="Start"></TabHeader>
                                                </ChildContent>
                                            </TabItem>
                                            <TabItem>
                                                <ChildContent>
                                                    <TabHeader Text="Moduły systemu"></TabHeader>
                                                </ChildContent>
                                            </TabItem>
                                            <TabItem>
                                                <ChildContent>
                                                    <TabHeader Text="Oferta cenowa"></TabHeader>
                                                </ChildContent>
                                            </TabItem>
                                            <TabItem>
                                                <ChildContent>
                                                    <TabHeader Text="Kontakt"></TabHeader>
                                                </ChildContent>
                                            </TabItem>
                                        </TabItems>
                                    </SfTab>
                                </div>
                                <div class="mobile-menu-trigger" @onclick="ToggleMobileMenu">
                                    <span class="e-icons e-menu"></span>
                                    <div class="flex-grow-1 d-flex justify-content-center" style="margin-left: 8px;">
                                        <div>
                                             <a href="/" style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                                                <div style="width: 40px; height: 40px; padding-right: 0.01px; background: #0D6EFD; border-radius: 6px; justify-content: center; align-items: center; display: flex">
                                                    <div style="width: 17.48px; height: 30px; position: relative">
                                                        <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 30px; word-wrap: break-word">M</div>
                                                    </div>
                                                </div>
                                             </a>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                            <SfButton CssClass="rounded-button"  IsPrimary="true" OnClick="@(() => NavigationManager.NavigateTo("/Auth/Login", true))">Sign In</SfButton>
                        </SfAppBar>
                    </div>
                </nav>
                @if (IsMobileMenuOpen)
                {
                    <div class="mobile-menu">
                        <button @onclick='async () => await ScrollToSection("start")'>Start</button>
                        <button @onclick='async () => await ScrollToSection("features")'>Product Features</button>
                        <button @onclick='async () => await ScrollToSection("pricing")'>Pricing</button>
                        <button @onclick='async () => await ScrollToSection("contact")'>Contact</button>
                    </div>
                }
                <div class="content">
                    @Body
                </div>
            </div>
        </ChildContent>
        <ErrorContent Context="exception">
            <ErrorPage Exception="exception" />
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    bool IsMobileMenuOpen = false;

    void ToggleMobileMenu()
    {
        IsMobileMenuOpen = !IsMobileMenuOpen;
    }

    int ActiveTab { get; set; } = 0;

    async Task OnTabChanged(int index)
    {
        switch(index) 
        {
            case 0: await ScrollToSection("start"); break;
            case 1: await ScrollToSection("features"); break;
            case 2: await ScrollToSection("pricing"); break;
            case 3: await ScrollToSection("contact"); break;
            default:break;
        }
    }

    async Task ScrollToSection(string id)
    {
        await JS.InvokeVoidAsync("blazorScrollTo", id);
        IsMobileMenuOpen = false;
    }

    DotNetObjectReference<LPLayout>? objRef;
    IJSObjectReference? scrollSpyController;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            objRef = DotNetObjectReference.Create(this);

            scrollSpyController = await JS.InvokeAsync<IJSObjectReference>(
                "startScrollSpy",
                objRef,
                new[] { "start", "features", "pricing", "contact" }
            );
        }
    }

    [JSInvokable]
    public void UpdateActiveTabFromScroll(int index)
    {
        ActiveTab = index;
        StateHasChanged();
    }

    public void Dispose()
    {
        if (scrollSpyController != null)
        {
            JS.InvokeVoidAsync("stopScrollSpy", scrollSpyController);
        }
        objRef?.Dispose();
    }

}
<style>
    .rounded-button.e-btn,
    .rounded-button.e-btn * {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;
        border-radius: 1000px;
        padding: 0 12px;
        height: 38px;
    }
</style>