@using MagFlow.Web.Pages.Layouts.Partial
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <ErrorBoundary>
        <ChildContent>
            <div class="main">
                <nav class="control-container" style="border-bottom: 1px solid #DEE2E6; background: #FFF; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); height: 64px;">
                    <div style="width: 100%; height: 100%; padding-left: 12px; padding-right: 12px; justify-content: space-between; align-items: center; display: inline-flex">
                        <SfAppBar ColorMode="AppBarColor.Inherit" CssClass="justify-content-start align-items-center d-md-flex border-0">
                            <a href="/" style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                                <div style="width: 40px; height: 40px; padding-right: 0.01px; background: #0D6EFD; border-radius: 6px; justify-content: center; align-items: center; display: flex">
                                    <div style="width: 17.48px; height: 30px; position: relative">
                                        <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 30px; word-wrap: break-word">M</div>
                                    </div>
                                </div>
                                <div style="width: 134px; height: 42px; position: relative">
                                    <div style="width: 136px; left: 0px; top: 0.50px; position: absolute; color: #212529; font-size: 28px; font-family: Inter; font-weight: 700; line-height: 42px; letter-spacing: 0.38px; word-wrap: break-word">MagFlow</div>
                                </div>
                            </a>
                            <AppBarSpacer></AppBarSpacer>
                            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
                                <SfTab>
                                    <TabItems>
                                        <TabItem>
                                            <ChildContent>
                                                <TabHeader Text="Home"></TabHeader>
                                            </ChildContent>
                                        </TabItem>
                                        <TabItem>
                                            <ChildContent>
                                                <TabHeader Text="Product Features"></TabHeader>
                                            </ChildContent>
                                        </TabItem>
                                        <TabItem>
                                            <ChildContent>
                                                <TabHeader Text="Pricing"></TabHeader>
                                            </ChildContent>
                                        </TabItem>
                                        <TabItem>
                                            <ChildContent>
                                                <TabHeader Text="Contact"></TabHeader>
                                            </ChildContent>
                                        </TabItem>
                                    </TabItems>
                                </SfTab>
                            </div>
                            <AppBarSpacer></AppBarSpacer>
                            <SfButton CssClass="rounded-button" IsPrimary="true" OnClick="@(() => NavigationManager.NavigateTo("/Auth/Login", true))">Sign In</SfButton>
                        </SfAppBar>
                    </div>
                </nav>
                <div class="content">
                    @Body
                </div>
            </div>
        </ChildContent>
        <ErrorContent Context="exception">
            <ErrorPage Exception="exception" />
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    
}
<style>
    .rounded-button {
        font-size: 16px;
        font-family: Helvetica Neue;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;
        border-radius: 1000px;
    }
</style>