@using MagFlow.Web.Components.Status
@using MagFlow.Web.Pages.Layouts.Partial
@using MagFlow.Web.Pages.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="Themes.MAIN" />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <div class="page d-flex flex-column w-100 h-100">
            <ErrorBoundary>
                <ChildContent>
                    <MudLayout Class="h-100 flex-grow-1 d-flex flex-column">
                        <NavMenu />
                        <MudMainContent Class="pt-16 px-4 h-100 w-100 d-flex flex-column" Style="background: var(--bs-gray-100, #F8F9FA)">
                            <div class="resolution-warning h-100 w-100 flex-grow-1 ">
                                <ResolutionWarning />
                            </div>
                            <div class="app-content w-100 h-100 flex-column flex-grow-1 pt-1 justify-content-center" style="max-width: 1920px !important; margin: 0 auto">
                                @Body
                            </div>
                        </MudMainContent>
                    </MudLayout>
                </ChildContent>
                <ErrorContent Context="exception">
                    <ErrorPage Exception="exception" />
                </ErrorContent>
            </ErrorBoundary>
        </div>
        <footer>
            <Footer />
        </footer>
    </Authorized>
    <NotAuthorized Context="authState">
        @if (authState.User.Identity?.IsAuthenticated == true)
        {
            <RedirectToDenied/>
        }
        else
        {
            <RedirectToLP/>
        }
    </NotAuthorized>
</AuthorizeView>
