@using MagFlow.Web.Pages.Layouts.Partial
@using MagFlow.Web.Pages.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <ErrorBoundary>
                <ChildContent>
                    <div class="d-flex flex-column w-100">
                        <Notification />

                        <div class="d-flex w-100">
                            <div class="sidebar">
                                <NavMenu />
                            </div>

                            <main class="content">
                                <div class="top-row px-4">
                                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                                </div>

                                <article class="content px-4">
                                    @Body
                                </article>
                            </main>
                        </div>
                    </div>
                </ChildContent>
                <ErrorContent Context="exception">
                    <ErrorPage Exception="exception" />
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLP/>
    </NotAuthorized>
</AuthorizeView>
