@using MagFlow.Shared.Models.Interfaces
@implements IModule
@inherits BaseModuleComponent

<h3>Warehouses</h3>

@code {
    public string TabTitle => "Warehouses";
    public string Icon => "bi bi-archive";

}
