@using MagFlow.Shared.Models.Interfaces
@implements IModule

<h3>Worktime</h3>

@code {
    public string TabTitle => "Worktime";
    public string Icon => "bi bi-stopwatch";

    public void Dispose()
    {

    }
}
